* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#viewport {
    position: absolute;
    width: 100%;
    height: 100%;
}

.controls {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.button {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #4CAF50;
    border: none;
    box-shadow: 0 0 10px 0px black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.button:focus {
    outline: 0;
}

#record {
    position: relative;
    z-index: 3;
    border-radius: 50%;
    padding: 50px;
}

#stop {
    position: absolute;
    z-index: 2;
    background: rgb(170, 62, 43);
    width: 50px;
    height: 40px;
    left: 75px;
    top: 195px;
}