<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Audio Checker</title>
        <link rel="stylesheet" href="assets/index.css">
    </head>
    <body>
        <canvas id="viewport"></canvas>
        <div class="controls">
            <button id="record" class="button">
                <img src="assets/mic-icon.svg" alt="Record">
            </button>
            <button id="stop" class="button">Stop</button>
        </div>
    </body>
</html>